mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Преимущества "
      },
      {
        href: "#",
        text: "Направления"
      },
      {
        href: "#",
        text: "Ближайшие круизы"
      },
      {
        href: "#",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods data-header)
    .container
      a.header__logo(href="index.html")
        div
          +icon("logo", 70, 38)
      button.header__burger.btn-reset(
        type="button",
        aria-label="Переключатель отображения меню",
        aria-pressed="false"
        data-burger
      )
        span
      nav.main-nav.main-nav--burger-menu
        div.main-nav__wrapper
          a.main-nav__logo(href="index.html")
            div
              +icon("logo", 42, 22)
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
    div.header__hero
      h1 Круизы в Антарктику
      p Волшебный мир айсбергов и пингвинов
    div.header__bg(data-close-menu)
      +picture("content", "header", "jpg", 1366, 650, "Облака, заснеженные горы, залив")
